
/* Grid */
.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "dashboard"
        "alert"
        "traffic"
        "daily"
        "mobile"
        "social"
        "members"
        "activity"
        "message"
        "settings"
        ;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.main-dashboard {
    grid-area: dashboard;
}

.alert-banner {
    grid-area: alert;
}

.traffic {
    grid-area: traffic;
}

.daily {
    grid-area: daily;
}

.mobile {
    grid-area: mobile;
}

.social {
    grid-area: social;
}

.members {
    grid-area: members;
}

.activity {
    grid-area: activity;
}

.message {
    grid-area: message;
}

.settings {
    grid-area: settings;
}


.widget-container-full, .widget-container-half {
    width: 95vw;
}

/* Media Queries */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 80px 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header header"
            "nav dashboard dashboard"
            "nav alert alert"
            "nav traffic traffic"
            "nav daily mobile"
            "nav social social"
            "nav members activity"
            "nav message settings"
            ;
    }

    .traffic, .social, .alert {
        grid-column: 2 / span 2;
    }

    .daily, .members, .message {
        grid-column: 2 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 3 / span 1;
    }

    .widget-container-full {
        width: 80vw;
    }

    .widget-container-half {
        width: 35vw;
    }

    .traffic,
    .daily,
    .social,
    .members,
    .message {
        padding-left: 10px;
    }


}



