* {
    font-family: 'Nunito', sans-serif;
}

/* Header Styles */
header {
    background: #9585c7;
    display: flex;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-size: 1.2em;
    padding-top: 10px;
}

.primary-propic {
    padding: 10px;
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.primary-profile {
    padding: 10px;
}

.app-title {
    flex-grow: 2;
}

.bell {
    padding: 20px;
}

.bell img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

/* Nav Styles */
nav {
    background: #53408c;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Dashboard Styles */
.main-dashboard {
    padding: 20px;
}

.main-dashboard h2 {
    text-align: center;
}

.dash-search {
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

/* Alert Styles */
.alert-banner {
    color: white;
    background-color: #6850af;
    text-align: center;
    padding: 1px;
}

/* Traffic Chart */
.traffic-header h3 {
    text-align: center;
}

.traffic-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: gray;
}

/* Daily Chart */
.daily h3 {
    text-align: center;
}

/* Mobile Chart */
.mobile h3 {
    text-align: center;
}

.mobile {
    margin-bottom: 20px;
}

/* Socials */
.social h3 {
    text-align: center;
}


.twitter, 
.facebook,
.google {
    border: 1px solid lightgray;
    background-color: #f0eef7;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.social-image {
    width: 60px;
    height: 60px;
    background: #9585c7;
    padding: 20px;
    margin-right: 20px;
    border-radius: 50px;
}

.social-text h4 {
    color: #6850af;
}

/* New Members and Recent Activity*/
.members,
.activity {
    border: 1px solid lightgray;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 5px;
}

.members h2,
.activity h2 {
    padding-bottom: 10px;
}

.members-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: gray;
}



/* Message */
.message {
    border: 1px solid lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.form-field {
    width: 90%;
    margin-bottom: 10px;
    height: 30px;
    padding-left: 10px
}

.form-area {
    width: 90%;
    height: 100px;
    padding-left: 10px;
    border: 1px solid lightgray;
}

.button-primary {
    color: white;
    font-weight: bold;
    background-color: #6850af;
    height: 30px;
    width: 50%;
}

/* Settings */
.settings {
    border: 1px solid lightgray;
    text-align: center;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch-light {
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: gray;
}

.switch-light span {
    margin-left: 10px;
}

.button-secondary {
    color: white;
    font-weight: bold;
    background-color: #6850af;
    height: 30px;
    width: 100px;
    margin-bottom: 20px;
}

.button-disabled {
    height: 30px;
}


/* Images */
.propic {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}


/* SVG */



.nav-icon {
    width: 50px;
    height: 50px;
}

/* Media Queries */
@media (min-width: 768px) {
    .main-dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 0;
    }

    .main-dashboard h2 {
        font-size: 1.3em;
        padding-left: 20px;
    }

    .main-searchbar {
        width: 300px;
        padding-top: 20px;
        padding-left: 350px;
        border-left: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        background-color: #f2f2f2;
        
    }
    
    .alert-banner {
        width: 100%;
    }

    nav {
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav-icon {
        margin-bottom: 20px;
        padding: 10px;
    }

    .traffic h3,
    .daily h3,
    .mobile h3,
    .social h3 {
        text-align: left;
    }

    .daily {
        border-right: 1px solid lightgray;
    }

    .mobile {
        padding-left: 10px;
    }

    .social {
        border-top: 1px solid lightgray;
        padding-bottom: 10px;
    }

    .social-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .twitter, 
    .facebook,
    .google {
        width: 30%;
    }

    .members h3,
    .activity h3,
    .message h3,
    .settings h3 {
        text-align: left;
        padding-left: 10px;
    }
    
    .members,
    .activity {
        padding-top: 0;
    }
}